body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}


.index-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/3;
  column-gap: 10px;
  row-gap: 10px;
}

.img-container {
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}

.heading-form {
  grid-column: 2/3;
  text-align: center;
}

.form {
  display: grid;
  width: 100%;
  margin-bottom: 5px;
  padding: 20px 15px;
  border: 1px solid black;
  margin-right: 50px;
  background-color: rgb(28, 101, 138);
  opacity: 85%;
  font-weight: 600;
  font-style: oblique;
  color: rgb(48, 184, 41);
}

.inputs {
  border-radius: 4px;
  height: 20px;
}
