body {
  font-family: cursive;
  background-color: black;
  font-weight: bolder;
  font-size: x-large;
}

/* nav */

.logo-container img {
  height: 75px;
  width: 75px;
}
.logo-container img:hover {
  opacity: 0.5;
}

.nav-container {
  justify-content: space-between;
  display: flex;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-image: url("http://llw-magento-images-prod.s3.amazonaws.com/catalog/product/w/m/wm107919314.jpg");
}
.btn-container {
  opacity: 75%;
}

img.logo {
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
}

.land-img {
  border-radius: 50%;
}
/* .drop-container {
}

.btn-hme {

} */

.thpst {
  background-color: cornsilk;
  opacity: 75%;
}

.form-grid {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}

.heading-form {
  grid-column: 2/3;
  text-align: center;
}

.btn:hover {
  color: chartreuse;
}

.new-btn:hover {
  color: chartreuse;
}

.new-btn {
  margin-top: 5px;
  font-size: medium;
  font-family: cursive;
  color: floralwhite;
  background-color: black;
}

.btn {
  margin-right: 3px;
  font-size: medium;
  font-family: cursive;
  color: floralwhite;
  background-color: black;
}

.form {
  margin-left: 30px;
  display: grid;
  margin-bottom: 5px;
  padding: 20px 15px;
  border: 1px solid black;
  margin-right: 50px;
  background-image: url("http://img1.wsimg.com/isteam/stock/jpwgK2z");
  background-size: contain;
  opacity: 85%;
  font-weight: 600;
  font-style: oblique;
  color: rgb(61, 45, 0);
  width: 500px;
}

.form-grid .form-div .form label {
  border-radius: 5px;
  background-color: blanchedalmond;
  opacity: 65%;
  width: fit-content;
}

.inputs {
  border-radius: 4px;
  height: 20px;
}

.treatment-card {
  text-align: center;
  border-color: black;
  border-style: solid;
  background-image: url("https://c8.alamy.com/comp/T8BDN6/spa-background-composition-flat-lay-natural-spa-cosmetics-and-organic-treatment-concept-on-white-copy-space-T8BDN6.jpg");
}
.index {
  margin-top: 1%;
}

.treatment-card h3 {
  background-color: cornsilk;
  opacity: 65%;
}

.new-btn-cntr {
  font-family: "cursive";
  display: flex;
  justify-content: center;
}
#drop {
  margin-top: 20px;
  color: rgb(4, 71, 39);
  background-color: cornsilk;
}

.drop-container {
  align-self: flex-end;
}

.drop-container label {
  font-size: large;
  margin-top: 20%;
  border-radius: 10px;
  opacity: 75%;
  background-color: chartreuse;
  color: rgb(1, 7, 8);
}

.index-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2/3;
  column-gap: 10px;
  row-gap: 10px;
}

.landing {
  display: flexbox;
  justify-content: center;
  text-align: center;
}

.about {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(42, 118, 121);
  text-align: center;
}
.about img {
  border-radius: 10px;
}

.title {
  color: rgb(30, 58, 126);
  background-image: url("https://as1.ftcdn.net/v2/jpg/05/03/89/74/1000_F_503897413_5SLWZOElWg4EsWEsUP1PUx9F50tTlYFB.jpg");
  background-size: contain;
}

.view-container {
  background-image: url("https://thumbs.dreamstime.com/b/blue-spa-4382181.jpg");
  background-size: auto;
  text-align: center;
}

.view-top {
  align-content: center;
}

.view-top h1 {
  opacity: 90%;
  font-family: "cursive";
  background-color: rgb(133, 195, 223);
}

.view-bot {
  margin-left: 25%;
  width: 50%;
  background-color: rgb(88, 152, 182);
  font-family: fantasy;
  opacity: 75%;
}
.confirmation {
  padding-bottom: 200px;
  background-image: url("https://media.istockphoto.com/id/1202194398/vector/colorful-vector-firework-on-dark-blue-background.jpg?s=612x612&w=0&k=20&c=UswGsH6n9zZ7_OIujMfZ6x__xelkNpyKriMUgCduZ40=");
  text-align: center;
}
.confirmation h3 {
  background-color: rgb(3, 3, 1);
  font-family: cursive;
  text-decoration: underline;
  color: gold;
}
